.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}